puzzle-server/cmd/lichess-importer/lichess-importer
puzzle-server/resources/db.sql
puzzle-server/db.sql
puzzle-server/cmd/server/puzzle-server

lichess_db_puzzle.csv

iam-server/cmd/server/server
iam-server/iam-server
iam-server/resources/testing/test.db
