.ProblemSetsList {
  margin: 32px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.ListTitleRow {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.ListContent {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
