.PuzzleView {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.Chessboard {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.PuzzleInfo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.Title {
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
}

.Success {
  height: 200px;
}

.PuzzleDetails {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}
