.ProblemSetsList {
  margin: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ListTitleRow {
  display: flex;
  justify-content: space-between;
}

.ListContent {
  display: flex;
  margin-top: 20px;
}
